
<div class="container">
  <div class="sky-widget" data-skyscanner-widget="FlightSearchWidget" data-locale="en-GB"
  data-params="colour:solar;fontColour:#000;buttonColour:dawn;buttonFontColour:#fff;"
  data-currency="USD"
  data-origin-geo-lookup="true"
  data-target="_self"
  data-flights-max-children-number="0"
  data-button-label="Start your FesTrip!"
  ></div>
  <script src="https://widgets.skyscanner.net/widget-server/js/loader.js" async></script>
</div>

<% @locations.each do |location| %>
  <%= location %>
<% end %>
