#background-home {
  background-position: center;
}

body {
  background-color: $ivory;
  text-align: center;
}


body p {
  color: $black;
}

body a {
  color: $black;
}

h1 {
  font-size: 80px;
  color: $black;
  font-weight: 400;
  font-style: normal;
}
