#background-home {
  background-position: center;
}

body {
  background-color: $black;
  text-align: center;
  place-items: center !important;
  display: block !important;
}

body p {
  color: $ivory;
}

body a {
  color: $ivory;
}

h1 {
  font-size: 80px;
  color: $ivory;
  font-weight: 400;
  font-style: normal;
}
