// Specific CSS for your home-page

// Button

.name-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
  top: 350px;
}

a {
  color: $ivory;
  text-decoration: none;
  font-size: 14px;
  // padding: 0px 10px;
}

a:hover {
  color: $ivory !important;
  text-decoration: none;
}

#text {
  font-size: 30px;
  top: 665px;
  text-decoration: none !important;

}

.btn {
  border-radius: 25px;
  border-color: $ivory;
}

.btn,
  i.fas,
  i.fab {
    color: $ivory;
    margin-right: 5px;
  }
