<div class="containerindex d-flex flex-row">
  <div class="owl-carousel owl-theme">
      <% @current_user.top_artists.each do |artist| %>
          <div class="p-4">
            <div class="d-flex flex-row">
              <div class="card-artist" style="background-image: url('<%= artist.photo %>'); background-size: cover;">
                <div class="content">
                  <h2 class="title"><%= artist.name %></h2>
                    <p class="copy">
                </div>
              </div>
            </div>
          </div>
      <% end %>
    </div>
</div>