<div class="container">
  <div class="row container-wishlist m-4 d-flex flex-row">
    <% wishlists.each do |wishlist|  %>
      <%= render "shared/modal_trip_details", wishlist: wishlist %>
      <% end %>
    </div>
  </div>
</div>



