<div class="containerindex d-flex flex-row">
  <div class="owl-four owl-carousel owl-theme">
    <% unless @festivals.empty? %>
      <% @festivals.first(10).each do |festival| %>
          <div class="p-4">
            <div class="d-flex flex-row">
              <div class="card">
                <div class="content">
                  <h2 class="title"><%= festival.location %></h2>
                    <p class="copy">
                      <p></p></p>
                      <button class="btn btn-outline-warning"><%= link_to "See Details", festival_path(festival) %></button>
                </div>
              </div>
            </div>
          </div>
      <% end %>
    <% end %>
    </div>
</div>
