<div class="connect-box">
  <div class="textbox-spotify">
    <h4 class="p-2">Discover <strong>festivals</strong> where your favourite artists will play</h4>
    <div class='spotify-button p-2'>
      <%= button_to "#", class: "btn btn-outline-warning btn-lg" do %>
        <i class="fab fa-spotify"></i><%= link_to 'Connect your Spotify', user_spotify_omniauth_authorize_path, method: :post %>
      <% end %>
    </div>
  </div>
</div>