<div class="textbox">
  <p>Connect your Spotify and discover festivals where your favourite artists will play</p>
  <%= button_to "#", class: "btn btn-outline" do %>
    <i class="fab fa-spotify"></i><%= link_to 'Sign in with Spotify', user_spotify_omniauth_authorize_path, method: :post %>
  <% end %>
</div>