<div class="container-home">
  <div id="background-home" style="height: 100vh;">
    <div class="name-button">
      <h1>Festrip</h1>
        <%= button_to "#", method: :get, class: "btn btn-outline-danger" do %>
        <i class="fab fa-spotify"></i> Log in with Spotify
        <% end %>
        <%= link_to 'Sign in with Spotify', user_spotify_omniauth_authorize_path, method: :post %>
    </div>
    <div id="text">
    <%= link_to ">>> Skip to Homepage", new_user_session_path %>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.1.9/p5.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vanta@latest/dist/vanta.trunk.min.js"></script>
<script>
  VANTA.TRUNK({
    el: "#background-home",
    mouseControls: true,
    touchControls: true,
    gyroControls: false,
    minHeight: 200.00,
    minWidth: 200.00,
    scale: 1.00,
    scaleMobile: 1.00,
    color: 0xde752c,
    backgroundColor: 0x181616,
    spacing: 1.00,
    chaos: 4.50
  })

</script>

