<%= render 'shared/navbar' %>

<!-- Container principal da pagina de Wishlist
  ------------------------------------------->

<!-- Cards ----------------------->

  <div class="contentindex">
    <div class="textbox">
      <h5><strong>Here is your Wishlist...</strong></h5>
    </div>


    <div class="w-100">
      <%= render 'shared/cardmochilist' %>

    </div>
  </div>

<%= button_to "#", class: "btn btn-outline-warning" do %>
<%= link_to "Checkout", trips_path %>
<% end %>


  <div class="contentindex">
    <div class="textbox">
      <h5><strong>Recommended for you....</strong></h5>
    </div>
  </div>

<%#= render 'shared/suggestion', locals: {suggestions: @suggested_festivals} %>
