<%= render 'shared/navbar' %>

<!-- Container principal da pagina de Wishlist
  ------------------------------------------->

<!-- Cards ----------------------->

  <div class="container-list m-5">
    <div class="textbox-wish m-5">
      <h2><strong>My festivals</strong></h2>
    </div>

    <div class="w-100">
      <% if @wishlists.empty? %>
        <p style='font-size: 20px;'> Ops! Nothing here yet!</p>
        <p style='font-size: 20px;'>Check out our festivals and click on the heart to add your favourites here!</p>
        <%= link_to 'Back to Festivals', festivals_path, class: 'btn btn-outline-warning m-4' %>
      <% else %>
        <%= render 'shared/cardmochilist', wishlists: @wishlists %>
    </div>
  </div>

<div class="container">
  <div class="contentindex">
    <div class="textbox-wish">
      <h3><strong>Recommended for you....</strong></h3>
    </div>
  </div>

  <%= render 'shared/suggestion', locals: {suggestions: @suggested_festivals} %>

    <% end %>

