<%= render 'shared/navbar' %>

<!-- Container principal da pagina de Wishlist
  ------------------------------------------->

<!-- Cards ----------------------->


<div class="container">
  <div class="contentindex">


    <% unless @wishlists.empty? %>
    <div class="textbox">
      <h3><strong>Here is your Wishlist...</strong></h3>
    </div>

     <%= render 'shared/cardmochilist', wishlists: @wishlists %>


    <div class="textbox">
      <h3><strong>Based on your choices, you also may like</strong></h3>
    </div>



    <div class="container">
    <%# render 'shared/suggestion', locals: {suggestions: @suggested_festivals} %>
    </div>

    <% else %>

      <div class="textbox">
        <h5> You don't have any festivals in your wishlist. Go have another look! </h5>
      </div>
    <% end %>
  </div>
</div>
