



<%= render 'shared/navbar' %>

<!-- Container principal da pagina de Wishlist
  ------------------------------------------->

<!-- Cards ----------------------->
<div id="page-container" style="height: 80vh !important;">
  <div class="container-list m-5">
    <div class="textbox-wish m-5">
      <h2><strong>Here is your Wishlist...</strong></h2>
    </div>

    <div class="w-100">
      <% if @wishlists.empty? %>
        <h5> You don't have any festivals in your wishlist. Go have another look! </h5>
      <% else %>
        <%= render 'shared/cardmochilist', wishlists: @wishlists %>
    </div>
  </div>

<div class="container">
  <div class="contentindex">
    <div class="textbox-wish">
      <h3><strong>Recommended for you....</strong></h3>
    </div>
  </div>

  <%= render 'shared/suggestion', locals: {suggestions: @suggested_festivals} %>

    <% end %>
  </div>
