.advanced_filter_input {

  .form-control {
      background-color: transparent;
      color: $ivory;
      display: flex;
      align-items: center;
      backdrop-filter: blur(1px) saturate(125%);

  }
}

.advanced_filter_input {
  border-style: solid;
  border-color: $tangerine;
  border-width: thin;
  border-radius: 5px;

}

.form-row {
  margin-bottom: -12px;
  margin-top: 3px;
  flex-wrap: wrap;
  margin-right: -76px;
  margin-left: -17px;
}

.btn-outline-button {
  width: 110px;
  margin-right: 38px !important;
}
