.advanced_filter_input {

  .form-control {
      background-color: black;
      color: #f58b00ff;

  }
}

.advanced_filter {
  border-style: solid;
  border-color: $tangerine;
  border-width: thin;
  border-radius: 5px;

}

