.navbar-lewagon {
  justify-content: space-between;
  background: $blue;
  position: sticky;
  top: 0;
  z-index:1;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar p {
  color: $gold;
  font-size: 33px;
  margin-top: 10px;
}

#listnav {
  color: $gold;
  font-size: 16px !important;
  margin-top: auto;
}

.navbar-light .navbar-nav .nav-link {
  color: $gold;
  font-size: 16px;
  margin-top: 10px;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: $gold;

}

.navbar a {
  color: $gold;
  font-family: 'Quicksand', sans-serif;
  font-size: 30px;
  margin-top: 10px;
  text-decoration: none;
}

.nav-item li {
  font-size: 10px;
}

