.first-card {
  border-style: solid;
  border-color: $tangerine;
  border-width: thin;
  position: absolute;
  font-size: 30px;
  left: 0;
  bottom: -427px;
  height: 397px;
  width: 50%;
  padding: 5px;
}

.first-card > p {
  height: 257px;
  font-size: 30px;
}

.first-card > h5 {
  color: $black;
  font-size: 38px;
  border-style: solid;
  border-color: $ivory;
  border-width: thin;
  background-color: $tangerine;

}

.second-card {
  border-style: solid;
  border-color: $tangerine;
  border-width: thin;
  position: absolute;
  font-size: 15px;
  right:0;
  bottom: -427px;
  height: 397px;
  width: 50%;
}

.fest-description {
  position: absolute;
  height: 69px;
  width: 100%;
  left: 0;
  font-size: 12px;
}


.containershow {
  border-style: solid;
  border-color: $tangerine;
  border-width: thin;
  max-width: 500px;
  max-height: 800px;
  align-content: center;
  justify-content: center;
}

.card-trip {
  position: absolute;
  width: 1200px;
  height: 1020px;
  overflow: hidden;
  background: $black;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  font-size: 17px;
  border-style: solid;
  border-color: $tangerine;
  border-width: thin;

}

.card-trip > img {
  height: 530px;
  width: 100%;
  object-fit: cover;
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)) !important;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 16px;
  opacity: .7;
  margin: 0;
}

#festival-title {
  height: 530px !important;
  width: 1198px !important;
  background-size: cover;
  background-repeat: none;
}

#festival-title > h5 {
  font-size: 40px;

}

.card-trip .card-trip-infos {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.heart > a {
  font-size: 20px;
}

.card-festival-name {
  padding: 12px 20px 0px 20px;
}

.card-festival-name h5 {
  font-size: 38px;
 }
