<%= render 'shared/navbar' %>
<div class="container">

  <div class="contentindex">
    <div class="textbox">
      <h5>Top festivals close to you</h5>
      <p>Check out this festivals</p>
    </div>


    <div class="p-1">
      <main class="page-content">
        <% @festivals.each do |festival| %>
          <div class="card">
            <div class="content">
              <h2 class="title"><%= festival.name %></h2>
              <p class="copy"><%= festival.location %></p>
              <button class="btn2">See details</button>
            </div>
          </div>
        <% end %>
      </main>
    </div>
  </div>
</div>
