<h1>Festivals#index</h1>
<p>Find me in app/views/festivals/index.html.erb</p>

<% @festivals.each do |festival| %>
  <p><%= festival.name %></p>
  <p><%= festival.description %></p>
  <p><%= festival.date %></p>
  <p><%= festival.location %></p>
<% end %>


