<!-- Container principal da pagina de Wishlist
  ------------------------------------------->
<div class="container_wishlist m-4">
  <h1>Here is your Mochilist..</h1>
  <p>Find me in app/views/wishlists/index.html.erb</p>
</div>
