<!-- Container principal da pagina de Wishlist
  ------------------------------------------->
<div class="container_wishlist m-4">

<!--Para editar todas as informacoes sobre a sua wishlist campo
------------------- Mochilist-------------------------------->
  <div class="text"><h1><strong>Here is your Mochilist..</strong></h1>
    <div class="my_wishlist row py-4 my-4 bg-light">
      <div class="d-flex flex-wrap mb-3">
          <%= @wishlists.each do |wishlist|  %>
        <div class="card" style="width: 22rem">
          <div class="card-image">
            <%= cl_image_tac festival.phtos.first.key %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

<!---Para edit o container May you like...-------------------
  ----------------------------------------------------------->

   <div class="text"><h1><strong>May you like...</strong></h1>
    <div class="my_suggestion row py-4 my-4 bg-light">
      <div class="d-flex flex-wrap mb-3">
          <%= @wishlists.each do |festival|  %>
        <div class="card" style="width: 22rem">
          <div class="card-image">
            <%= cl_image_tac festival.phtos.first.key %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div><div class="row_suggestion m-4">

  </div>
</div>

